.movie-list {
    padding: 20px;
    background-color: #2B2B2B;
    color: white;
}
  
.movie-cards {
    display: flex;
    justify-content:flex-start;
    gap: 50px;
}
  
.movie-card {
    width: 150px;
    text-align: center;
}
  
.movie-card img {
    width: 100%;
}
  
.watch-trailer {
    margin-top: 10px;
    padding: 5px;
    background-color: #80B9F9;
    border: none;
    cursor: pointer;
}

.movie-card p {
    color: #FFC685;
}