.navbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    color: white;
    flex-wrap: wrap;
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
    background: linear-gradient(to bottom, rgb(15, 15, 15), rgba(0, 0, 0, 0.3));
    z-index: 10;
}

.logo {
    position: absolute;
    top: 25px;
    font-weight: bold;
    font-size: 32px;
}

.logo a{
    text-decoration: none;
    color: #FFC685;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: 200px;
    padding: 0;
    font-size: 18px;
}
  
.navbar li {
    display: inline;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 15px;
    transition: color 0.3s ease, background-color 0.3s ease;
    position: relative;
}

.nav-links a:hover {
    color: #ff9900;
}

.nav-links a.active::after {
    content: "";
    position: absolute;
    left: 10%;
    bottom: 3px;
    width: 80%;
    height: 3px;
    background-color: #FFC685;
}

.nav-right {
    display: flex;
    align-items: center;
    margin-right: 35px;
}

.search-bar {
    padding: 5px;
    margin-right: 15px;
    font-size: 17px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(243, 243, 243, 0.5);
    border-radius: 10px;
    color: white;
}
  
.sign-in {
    margin-right: 10px;
    padding: 5px 10px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.sign-up {
    margin-right: 10px;
    padding: 4px 10px;
    font-size: 18px;
    background-color: #FFC685;
    border: 1px solid;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.sign-in:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.sign-up:hover {
    background-color: #ffb340;
}